{% load static %}

<!-- app-Header -->
<div class="app-header header sticky">
    <div class="container-fluid main-container">
        <div class="d-flex">
            <a aria-label="Hide Sidebar" onclick="TogglesNavbar()" class="app-sidebar__toggle" data-bs-toggle="sidebar"
                href="javascript:void(0)"></a>
            <!-- sidebar-toggle-->
            <a class="logo-horizontal" href="/">
                <h3 class="header-brand-img desktop-logo">ApexCare</h3>
                <h3 class="header-brand-img light-logo1">MP</h3>
                {% comment %} <img src="{% static 'images/brand/logo.png' %}" class="header-brand-img desktop-logo"
                    alt="logo">
                <img src="{% static 'images/brand/logo-3.png' %}" class="header-brand-img light-logo1" alt="logo">
                {% endcomment %}
            </a>
            <!-- LOGO -->

            <div class="d-flex order-lg-2 ms-auto header-right-icons">
                <div class="dropdown d-none">
                    <a href="javascript:void(0)" class="nav-link icon" data-bs-toggle="dropdown">
                        <i class="fe fe-search"></i>
                    </a>
                    <div class="dropdown-menu header-search dropdown-menu-start">
                        <div class="input-group w-100 p-2">
                            <input type="text" class="form-control" placeholder="Search....">
                            <div class="input-group-text btn btn-primary">
                                <i class="fe fe-search" aria-hidden="true"></i>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- SEARCH -->
                <button class="navbar-toggler navresponsive-toggler d-lg-none ms-auto" type="button"
                    data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent-4"
                    aria-controls="navbarSupportedContent-4" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon fe fe-more-vertical"></span>
                </button>
                <div class="navbar navbar-collapse responsive-navbar p-0">
                    <div class="collapse navbar-collapse" id="navbarSupportedContent-4">
                        <div class="d-flex order-lg-2">
                            <div class="dropdown d-lg-none d-flex">
                                <a href="javascript:void(0)" class="nav-link icon" data-bs-toggle="dropdown">
                                    <i class="fe fe-search"></i>
                                </a>
                                <div class="dropdown-menu header-search dropdown-menu-start">
                                    <div class="input-group w-100 p-2">
                                        <input type="text" class="form-control" placeholder="Search....">
                                        <div class="input-group-text btn btn-primary">
                                            <i class="fa fa-search" aria-hidden="true"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- COUNTRY -->
                            {% comment %} <div class="d-flex country">
                                <a class="nav-link icon text-center" data-bs-target="#country-selector"
                                    data-bs-toggle="modal">
                                    <i class="fe fe-globe"></i><span class="fs-16 ms-2 d-none d-xl-block">English</span>
                                </a>
                            </div> {% endcomment %}
                            <!-- SEARCH -->
                            <div class="dropdown  d-flex">
                                <a class="nav-link icon theme-layout nav-link-bg layout-setting">
                                    <span class="dark-layout"><i class="fe fe-moon"></i></span>
                                    <span class="light-layout"><i class="fe fe-sun"></i></span>
                                </a>
                            </div>
                            <!-- Theme-Layout -->
                            <div class="dropdown d-flex">
                                <a class="nav-link icon full-screen-link nav-link-bg">
                                    <i class="fe fe-minimize fullscreen-button"></i>
                                </a>
                            </div>
                            <!-- FULL-SCREEN -->
                            <div class="dropdown  d-flex notifications">
                                <a class="nav-link icon" data-bs-toggle="dropdown"><i class="fe fe-bell"></i>
                                    {% if any_notifications %}<span class="pulse"></span>{% endif %}
                                </a>
                                <div class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                                    <div class="drop-heading border-bottom">
                                        <div class="d-flex">
                                            <h6 class="mt-1 mb-0 fs-16 fw-semibold text-dark">Notifications
                                            </h6>
                                        </div>
                                    </div>
                                    <div class="notifications-menu" id="notifications-menu">
                                        {% for notification in notifications %}
                                        <a class="dropdown-item d-flex" href="/">
                                            <div class="me-3 notifyimg  bg-primary brround box-shadow-primary">
                                                <i class="fe fe-bell"></i>
                                            </div>
                                            <div class="mt-1">
                                                <h5 class="notification-label mb-1">{{notification.message|safe}}
                                                </h5>
                                                <span class="notification-subtext">{{notification.timestamp|timesince}}
                                                    ago</span>
                                            </div>
                                        </a>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                            <!-- NOTIFICATIONS -->
                            {% comment %} <div class="dropdown  d-flex message">
                                <a class="nav-link icon text-center" data-bs-toggle="dropdown">
                                    <i class="fe fe-message-square"></i><span class="pulse-danger"></span>
                                </a>
                                <div class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                                    <div class="drop-heading border-bottom">
                                        <div class="d-flex">
                                            <h6 class="mt-1 mb-0 fs-16 fw-semibold text-dark">You have 5
                                                Messages</h6>
                                            <div class="ms-auto">
                                                <a href="javascript:void(0)" class="text-muted p-0 fs-12">make all
                                                    unread</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="message-menu">
                                        <a class="dropdown-item d-flex" href="chat.html">
                                            <span class="avatar avatar-md brround me-3 align-self-center cover-image"
                                                data-bs-image-src="../assets/images/users/1.jpg"></span>
                                            <div class="wd-90p">
                                                <div class="d-flex">
                                                    <h5 class="mb-1">Peter Theil</h5>
                                                    <small class="text-muted ms-auto text-end">
                                                        6:45 am
                                                    </small>
                                                </div>
                                                <span>Commented on file Guest list....</span>
                                            </div>
                                        </a>
                                        <a class="dropdown-item d-flex" href="chat.html">
                                            <span class="avatar avatar-md brround me-3 align-self-center cover-image"
                                                data-bs-image-src="../assets/images/users/15.jpg"></span>
                                            <div class="wd-90p">
                                                <div class="d-flex">
                                                    <h5 class="mb-1">Abagael Luth</h5>
                                                    <small class="text-muted ms-auto text-end">
                                                        10:35 am
                                                    </small>
                                                </div>
                                                <span>New Meetup Started......</span>
                                            </div>
                                        </a>
                                        <a class="dropdown-item d-flex" href="chat.html">
                                            <span class="avatar avatar-md brround me-3 align-self-center cover-image"
                                                data-bs-image-src="../assets/images/users/12.jpg"></span>
                                            <div class="wd-90p">
                                                <div class="d-flex">
                                                    <h5 class="mb-1">Brizid Dawson</h5>
                                                    <small class="text-muted ms-auto text-end">
                                                        2:17 pm
                                                    </small>
                                                </div>
                                                <span>Brizid is in the Warehouse...</span>
                                            </div>
                                        </a>
                                        <a class="dropdown-item d-flex" href="chat.html">
                                            <span class="avatar avatar-md brround me-3 align-self-center cover-image"
                                                data-bs-image-src="../assets/images/users/4.jpg"></span>
                                            <div class="wd-90p">
                                                <div class="d-flex">
                                                    <h5 class="mb-1">Shannon Shaw</h5>
                                                    <small class="text-muted ms-auto text-end">
                                                        7:55 pm
                                                    </small>
                                                </div>
                                                <span>New Product Realease......</span>
                                            </div>
                                        </a>

                                    </div>
                                    <div class="dropdown-divider m-0"></div>
                                    <a href="javascript:void(0)" class="dropdown-item text-center p-3 text-muted">See
                                        all
                                        Messages</a>
                                </div>
                            </div> {% endcomment %}
                            <!-- MESSAGE-BOX -->

                            <!-- SIDE-MENU -->
                            <div class="dropdown d-flex profile-1">
                                <a href="javascript:void(0)" data-bs-toggle="dropdown"
                                    class="nav-link leading-none d-flex">
                                    <img src="{{request.user.profile_image.image.url}}" alt="profile-user"
                                        class="avatar  profile-user brround cover-image">
                                </a>
                                <div class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                                    <div class="drop-heading">
                                        <div class="text-center">
                                            <h5 class="text-dark mb-0 fs-14 fw-semibold">{{request.user.first_name}}
                                                {{request.user.last_name}}</h5>
                                            <small class="text-muted">{{request.user.email}}</small>
                                        </div>
                                    </div>
                                    <div class="dropdown-divider m-0"></div>
                                    <a class="dropdown-item" href="{% url 'profile' %}">
                                        <i class="dropdown-icon fe fe-user"></i> Profile
                                    </a>
                                    {% comment %} <a class="dropdown-item" href="email-inbox.html">
                                        <i class="dropdown-icon fe fe-mail"></i> Inbox
                                        <span class="badge bg-danger rounded-pill float-end">5</span>
                                    </a> {% endcomment %}
                                    {% comment %} <a class="dropdown-item" href="lockscreen.html">
                                        <i class="dropdown-icon fe fe-lock"></i> Lockscreen
                                    </a> {% endcomment %}
                                    <a class="dropdown-item" href="{% url 'logout' %}">
                                        <i class="dropdown-icon fe fe-alert-circle"></i> Sign out
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /app-Header -->

<!--APP-SIDEBAR-->
<div class="sticky">
    <div class="app-sidebar__overlay" data-bs-toggle="sidebar"></div>
    <div class="app-sidebar">
        <div class="side-header">
            <a class="header-brand1 d-flex w-100" href="{% url 'dashboard' %}">

                <img class="rounded-circle" src="media/{{company.logo}}" width="50px" alt="">
                <h3 class="mt-3 mx-3" id="company_name">
                    {{company.name}}
                </h3>
                {% comment %} <h6 class="header-brand-img light-logo1">MP</h6> {% endcomment %}
                {% comment %} <img src="{% static " images/brand/logo.png" %}" class="header-brand-img desktop-logo"
                    alt="logo">
                <img src="{% static " images/brand/logo-1.png" %}" class="header-brand-img toggle-logo" alt="logo">
                <img src="{% static " images/brand/logo-2.png" %}" class="header-brand-img light-logo" alt="logo">
                <img src="{% static " images/brand/logo-3.png" %}" class="header-brand-img light-logo1" alt="logo">
                {%endcomment %}
            </a>
            <!-- LOGO -->
        </div>
        <div class="main-sidemenu">
            <div class="slide-left disabled" id="slide-left"><svg xmlns="http://www.w3.org/2000/svg" fill="#7b8191"
                    width="24" height="24" viewBox="0 0 24 24">
                    <path d="M13.293 6.293 7.586 12l5.707 5.707 1.414-1.414L10.414 12l4.293-4.293z" />
                </svg></div>
            <ul class="side-menu">
                <li class="sub-category">
                    <h3>Main</h3>
                </li>
                <li class="slide">
                    <a class="side-menu__item" data-bs-toggle="slide" href="{% url 'dashboard' %}"><i
                            class="side-menu__icon fe fe-home"></i><span class="side-menu__label">Dashboard</span></a>

                </li>
                <li class="slide">
                    <a class="side-menu__item" data-bs-toggle="slide" href="{% url 'inventory' %}"><i
                            class="side-menu__icon fe fe-box"></i><span class="side-menu__label">Inventory</span></a>

                </li>

            </ul>
            <div class="slide-right" id="slide-right"><svg xmlns="http://www.w3.org/2000/svg" fill="#7b8191" width="24"
                    height="24" viewBox="0 0 24 24">
                    <path d="M10.707 17.707 16.414 12l-5.707-5.707-1.414 1.414L13.586 12l-4.293 4.293z" />
                </svg></div>
        </div>
    </div>
    <!--/APP-SIDEBAR-->
</div>
<script>
    function TogglesNavbar() {
        display_type = document.getElementById('company_name');
        if (display_type.style.display == 'none') {
            display_type.style.display = 'block';
        } else {
            display_type.style.display = 'none';
        }
    }
</script>